<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/student-layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:fragment="title">Tu horaio</title>
</head>
<body>

<section layout:fragment="content" class="flex-grow-1 container-fluid">

</section>

<th:block layout:fragment="scripts">
</th:block>
</body>
</html>